function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto L_IF_0_ELSE
push this 0
call Square.moveUp 1
pop temp 0
goto L_IF_0_ENDIF
label L_IF_0_ELSE
label L_IF_0_ENDIF
push this 1
push constant 2
eq
not
if-goto L_IF_1_ELSE
push this 0
call Square.moveDown 1
pop temp 0
goto L_IF_1_ENDIF
label L_IF_1_ELSE
label L_IF_1_ENDIF
push this 1
push constant 3
eq
not
if-goto L_IF_2_ELSE
push this 0
call Square.moveLeft 1
pop temp 0
goto L_IF_2_ENDIF
label L_IF_2_ELSE
label L_IF_2_ENDIF
push this 1
push constant 4
eq
not
if-goto L_IF_3_ELSE
push this 0
call Square.moveRight 1
pop temp 0
goto L_IF_3_ENDIF
label L_IF_3_ELSE
label L_IF_3_ENDIF
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label L_WHILE_0_START
push local 1
not
not
if-goto L_WHILE_0_END
label L_WHILE_1_START
push local 0
push constant 0
eq
not
if-goto L_WHILE_1_END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto L_WHILE_1_START
label L_WHILE_1_END
push local 0
push constant 81
eq
not
if-goto L_IF_4_ELSE
push constant 1
neg
pop local 1
goto L_IF_4_ENDIF
label L_IF_4_ELSE
label L_IF_4_ENDIF
push local 0
push constant 90
eq
not
if-goto L_IF_5_ELSE
push this 0
call Square.decSize 1
pop temp 0
goto L_IF_5_ENDIF
label L_IF_5_ELSE
label L_IF_5_ENDIF
push local 0
push constant 88
eq
not
if-goto L_IF_6_ELSE
push this 0
call Square.incSize 1
pop temp 0
goto L_IF_6_ENDIF
label L_IF_6_ELSE
label L_IF_6_ENDIF
push local 0
push constant 131
eq
not
if-goto L_IF_7_ELSE
push constant 1
pop this 1
goto L_IF_7_ENDIF
label L_IF_7_ELSE
label L_IF_7_ENDIF
push local 0
push constant 133
eq
not
if-goto L_IF_8_ELSE
push constant 2
pop this 1
goto L_IF_8_ENDIF
label L_IF_8_ELSE
label L_IF_8_ENDIF
push local 0
push constant 130
eq
not
if-goto L_IF_9_ELSE
push constant 3
pop this 1
goto L_IF_9_ENDIF
label L_IF_9_ELSE
label L_IF_9_ENDIF
push local 0
push constant 132
eq
not
if-goto L_IF_10_ELSE
push constant 4
pop this 1
goto L_IF_10_ENDIF
label L_IF_10_ELSE
label L_IF_10_ENDIF
label L_WHILE_2_START
push local 0
push constant 0
eq
not
not
if-goto L_WHILE_2_END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto L_WHILE_2_START
label L_WHILE_2_END
goto L_WHILE_0_START
label L_WHILE_0_END
push constant 0
return
